<h1>Coutries</h1>
<!-- sidebar with bootstrap -->
<ul class="list-group">
  <li
  routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item list-group-item-action"
  >
    Home
  </li>
  <li
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    About
  </li>
  <li
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Contact
  </li>
</ul>
